.sec1 .mob,
.sec2 .mob,
.sec4 .mob {
  display: none;
}
@media (width<769px) {
  p {
    font-size: 15px;
  }
  .sec1 .web {
    display: none;
  }
  .sec1 .mob {
    display: block;
    max-height: 100dvh;
  }
  .sec1 .mob .anniversary_box {
    width: 100%;
    padding-right: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: end;
  }
  .sec1 .mob .anniversary_box img {
    width: 20%;
    max-width: 100px;
  }
  .sec1 .mob .text_box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 0;
  }
  .sec4 .web {
    display: none;
  }
  .sec4 .mob {
    display: block;
  }
  .sec4 .mob .top {
    width: 100%;
    /* max-height: 100vh; */
  }
  .sec4 .mob .top .map_box {
    position: relative;
  }
  .sec4 .mob .top .map_box img:first-child {
    aspect-ratio: 907/768;
  }
  .sec4 .mob .top .vision {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 250px;
  }
  .sec4 .mob .top .text_box {
    width: 100%;
    padding: 40px;
    background: linear-gradient(
      to right,
      transparent 0%,
      transparent 85%,
      #ebf3fb 85%,
      #ebf3fb 100%
    );
  }
  .sec4 .mob .top .text_box > div {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
  }
  .sec4 .mob .bot {
    width: 100%;
    /* height: 100vh; */
  }
  .sec4 .mob .bot .fade-slider {
    aspect-ratio: 510/541;
    height: auto;
  }
  .sec4 .mob .bot .text_box {
    width: 100%;
    padding: 40px;
    position: relative;
  }
  .sec4 .mob .bot .text_box > div {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
  }
  .sec4 .mob .bot .vision {
    position: absolute;
    right: 0;
    top: 0;
    width: 12%;
    max-width: 120px;
  }
}
@media (width<600px) {
  .sec2 .web {
    display: none;
  }
  .sec2 .mob {
    display: block;
    height: 90vh;
    /* aspect-ratio: 2/3; */
  }
  .sec2 .mob .card_img {
    width: 100%;
    height: auto;
    max-height: 500px;
  }
  .sec2 .mob .card_text {
    padding: 40px;
    color: #000;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }
  .sec2 .mob .card_text img {
    width: 100%;
  }
  .sec2 .mob .card_text p {
    color: #000;
    font-size: 15px;
  }
}
