.sec1 .mob,
.sec2 .mob,
.sec4 .mob,
.sec6 .mob,
.sec8 .mob,
.sec9 .mob,
.sec10 .mob,
.sec11 .mob,
.sec12 .mob {
  display: none;
}

@media (width<769px) {
  p {
    font-size: 15px;
  }

  .sec1 .web {
    display: none;
  }

  .sec1 .mob {
    display: block;
  }

  .sec1 .mob .anniversary_box {
    width: 100%;
    padding-right: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: end;
  }

  .sec1 .mob .anniversary_box img {
    width: 20%;
    max-width: 100px;
  }

  .sec1 .mob .text_box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 0;
  }
  .sec11 .web {
    display: none;
  }
  .sec11 .mob {
    display: block;
  }
  .sec11 .mob .text_box {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
  .sec11 .mob .subtitle {
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .sec4 .web {
    display: none;
  }

  .sec4 .mob {
    display: block;
  }

  .sec4 .mob .top {
    width: 100%;
    /* max-height: 100vh; */
  }

  .sec4 .mob .top .map_box {
    position: relative;
  }

  .sec4 .mob .top .map_box img:first-child {
    aspect-ratio: 907/768;
  }

  .sec4 .mob .top .vision {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 250px;
  }

  .sec4 .mob .top .text_box {
    width: 100%;
    padding: 40px;
    background: linear-gradient(
      to right,
      transparent 0%,
      transparent 90%,
      #ebf3fb 90%,
      #ebf3fb 100%
    );
  }

  .sec4 .mob .top .text_box > div {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
  }

  .sec4 .mob .bot {
    width: 100%;
    /* height: 100vh; */
  }

  .sec4 .mob .bot .fade-slider {
    aspect-ratio: 510/541;
    height: auto;
  }

  .sec4 .mob .bot .text_box {
    width: 100%;
    padding: 40px;
    position: relative;
  }

  .sec4 .mob .bot .text_box > div {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
  }

  .sec4 .mob .bot .vision {
    position: absolute;
    right: 0;
    top: 0;
    width: 12%;
    max-width: 120px;
  }

  .sec5 .top_box {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .sec5 .top_box .top_left_box > img {
    display: none;
  }

  .sec5 .top_left_box .map_img {
    padding: 40px;
    padding-top: 50px;
  }

  .sec5 .top_left_box .map_img img {
    width: 100%;
  }

  .sec5 .top_right_box img {
    aspect-ratio: 5/2;
    object-fit: cover;
  }

  .sec5 .bot_box {
    grid-template-columns: 15% 85%;
    /* gap: 50px; */
    margin-bottom: 50px;
  }

  .sec5 .bot_box div:first-child {
    background-color: #ebf3fb;
  }

  .sec5 .bot_box .text_box {
    padding: 20px;
    padding-top: 40px;
    max-width: 400px;
    margin: 0 auto;
  }

  .sec6 .web {
    display: none;
  }

  .sec6 .mob {
    display: block;
    height: 900px;
  }

  .sec6 .mob .card_img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: bottom;
  }

  .sec6 .mob .card_text {
    padding: 40px 18vw;
    padding-right: 24vw;
    color: #000;
    margin: 0 auto;
    width: 100%;
    /* max-width: 500px; */
    position: relative;
  }

  .sec6 .mob .card_text .decorate {
    position: absolute;
    background-color: #ebf3fb;
    width: 10%;
    max-width: 100px;
    height: 100%;
    right: 0;
    top: 0;
  }

  .sec6 .mob .card_text img {
    width: 100%;
  }

  .sec6 .mob .card_text p {
    color: #000;
    font-size: 15px;
  }

  .sec7 {
    flex-direction: column-reverse;
  }

  .sec7 .left_box {
    width: 100%;
    padding: 10%;
    position: relative;
  }

  .sec7 .left_box > .decorate:first-child {
    display: none;
  }

  .sec7 .left_box > .decorate:nth-child(3) {
    position: absolute;
    right: 0;
    top: 0;
    height: 80%;
    width: 10%;
  }

  .sec7 .left_box .text_box {
    width: 80%;
    max-width: 400px;
  }

  .sec7 .left_box .text_box > img:first-child {
    display: none;
  }

  .sec7 .right_box {
    width: 100%;
    margin: 0;
  }

  .sec7 .right_box .text_card p {
    font-size: 14px;
    font-weight: 400;
  }

  .sec8 .web {
    display: none;
  }

  .sec8 .mob {
    display: block;
  }
  .sec8 .mob .img_box {
    aspect-ratio: 706/807;
    padding: 10% 0 0 10%;
    position: relative;
  }
  .sec8 .mob .img_box > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 70%;
    background-color: #ebf3fb;
  }
  .sec8 .mob .text_box {
    width: 100%;
    padding: 40px;
    padding-right: 10%;
    position: relative;
  }
  .sec8 .mob .text_box > div:first-child {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: #ebf3fb;
  }
  .sec8 .mob .text_box > div:nth-child(2) {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
  }
  .sec9 .web {
    display: none;
  }
  .sec9 .mob {
    display: block;
  }
  .sec9 .mob .top_box {
    aspect-ratio: 428/497;
  }
  .sec9 .mob .bot_box {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
  }
  .sec10 .mob {
    display: block;
  }
  .sec10 .mob .top_box {
    aspect-ratio: 285/332;
  }
  .sec10 .mob .bot_box {
    position: relative;
  }
  .sec10 .mob .bot_box .text_box {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 0;
    margin-top: 40px;
  }

  .sec10 .mob .bot_box > div:first-child {
    position: absolute;
    left: 0;
    top: 0;
    width: 12%;
    max-width: 100px;
    height: 100%;
    background-color: #ebf3fb;
  }
  .sec12 .web {
    display: none;
  }
  .sec12 .mob {
    display: block;
  }
  .sec12 .mob .top_box {
    background: linear-gradient(205deg, #063152 0%, #0f73b6 40%, #00a3ff 100%);
    width: 100%;
    padding: 40px;
  }
  .sec12 .mob .top_box > div {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  .sec12 .mob .top_box .title_box {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 30px 0;
  }
  .sec12 .mob .top_box .title_box > img:nth-child(2) {
    width: 30%;
    max-width: 150px;
  }
  .sec12 .mob .top_box .title_box > img:nth-child(3) {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 30%;
    max-width: 150px;
  }
  .sec12 .mob .form-box {
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #009ae1;
  }
  .sec12 .mob .form-row {
    border: 1px solid #dfe5f0;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 1px;
    background: #fff;
    display: flex;
    gap: 10px;
  }
  .sec12 .mob .form-row:last-child {
    flex-direction: column;
  }
  .sec12 .mob .label-text {
    display: block;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
  }

  .sec12 .mob .form-row input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
  }

  .radio-group label {
    font-size: clamp(18px, 3vw, 20px);
    font-weight: 500;
    letter-spacing: 0.5px;
    min-width: 100px;
    white-space: nowrap;
  }
}

@media (width<600px) {
  .sec2 .web {
    display: none;
  }

  .sec2 .mob {
    display: block;
    height: 850px;
  }

  .sec2 .mob .card_img {
    width: 100%;
    height: auto;
    max-height: 500px;
  }

  .sec2 .mob .card_text {
    padding: 40px;
    color: #000;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }

  .sec2 .mob .card_text img {
    width: 100%;
  }

  .sec2 .mob .card_text p {
    color: #000;
    font-size: 15px;
  }
}

@media (width<500px) {
  .sec2 .mob {
    height: 800px;
  }

  .sec6 .mob {
    height: 750px;
  }
}
