/*div內的輪播覆蓋整個空間 */
.fade-slider {
  width: 100%;
  height: 100%;
  position: relative;
  /* border-radius: 10px; */
  overflow: hidden;
}

/* 讓淡入淡出區域 100% 填滿*/
.fade-slides,
.fade-slide {
  width: 100%;
  /* height: 100%; */
}

/* 圖片自動符合高度 */
.fade-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade-slide .text_card {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 700px;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.466);
}



/* text_card 基本樣式：開始時透明 + 往下 */
.text_card img,
.text_card p {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.5s;
  /* 稍微延遲，可自行調整 */
}

.text_card p {
  transition-delay: 0.7s;
  /* 稍微延遲，可自行調整 */
}

/* active 的 slide 文字要淡入 + 往上歸位 */
.fade-slide.active .text_card img,
.fade-slide.active .text_card p {
  opacity: 1;
  transform: translateY(0);
}

.fade-slide p {
  color: #fff;
}

/* 按鈕 */
.fade-slider:hover .fade-prev,
.fade-slider:hover .fade-next {
  opacity: 1;
}

.fade-prev,
.fade-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  padding: 6px 12px;
  padding-top: 0;
  cursor: pointer;
  transition: 0.3s all;
  opacity: 0;
}

.fade-prev:hover,
.fade-next:hover {
  background: rgba(0, 0, 0, 0.5);
}

.fade-prev {
  left: 10px;
}

.fade-next {
  right: 10px;
}

/* 淡入淡出效果 */
.fade-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.fade-slide.active {
  opacity: 1;
  z-index: 2;
}


/* s7 輪播的第二種樣式 */
.fade-slide .text_card.text_card2 {
  position: relative;
  width: 100%;
  max-width: 1200px;
  background-color: #1f2a66;
  display: grid;
  grid-template-columns: 2fr 7fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.fade-slide .text_card.text_card2 img {
  width: 100%;
  height: auto;
}

/* s7第一張圖沒有字，所以要100% */
.sec7 .right_box .fade-slide:first-child>img {
  height: 100%;
}

.sec7 .right_box .fade-slide>img {
  height: 88%;
}

.sec7 .right_box .fade-slide .text_card.text_card2 {
  height: 12%;
}

@media (width<1024px) {
  .sec7 .right_box .fade-slide>img {
    height: 80%;
  }

  .sec7 .right_box .fade-slide .text_card.text_card2 {
    height: 20%;
  }

}

@media (width<769px) {
  .sec7 .right_box .fade-slide>img {
    height: 90%;
  }

  .sec7 .right_box .fade-slide .text_card.text_card2 {
    height: 10%;
  }

}

@media (width<550px) {
  .sec7 .right_box .fade-slide>img {
    height: 80%;
  }

  .sec7 .right_box .fade-slide .text_card.text_card2 {
    height: 20%;
  }
}


/* s8建案名稱 */
.sec8 .fade-slide .case_name {
  position: absolute;
  padding: 5px 10px;
  padding-left: 20px;
  font-size: 15px;
  background-color: #000000a8;
  right: 0;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.5s;
  clip-path: polygon(0 1%, 100% 1%, 100% 50%, 100% 100%, 0 100%, 10% 50%);
}

.sec8 .fade-slide .case_name.top_name {
  top: 44%;
}

@media (width<1025px) {
  .sec8 .fade-slide .case_name.top_name {
    top: 42%;
  }
}

.sec8 .fade-slide .case_name.bot_name {
  bottom: 15px;
}

/* s9建案名稱 */
.sec9 .fade-slide .case_name {
  position: absolute;
  padding: 8px 12px;
  padding-left: 25px;
  background-color: #000000a8;
  right: 0;
  bottom: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.5s;
  clip-path: polygon(0 1%, 100% 1%, 100% 50%, 100% 100%, 0 100%, 10% 50%);
}

.sec8 .fade-slide.active .case_name,
.sec9 .fade-slide.active .case_name {
  opacity: 1;
  transform: translateY(0);
}