* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --title-font: "WangHanMing";
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  text-align: justify;
}

h4,
h5,
h6,
span,
input,
label,
a {
  letter-spacing: 1px;
  text-align: justify;
}

p {
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  font-size: clamp(13px, 1vw, 16px);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
  display: block;
  -webkit-user-drag: none;
}

.w-100 {
  width: 100%;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.p-4 {
  padding: 40px;
}

.border {
  /* border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a; */
  border: 1px solid #d1d1d1;
}

.sec1 {
  width: 100%;
  /* height: 100dvh; */
  position: relative;
  background: linear-gradient(205deg, #063152 0%, #0f73b6 40%, #00a3ff 100%);
}

.sec1 .web {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  padding: 80px;
  padding-bottom: 0;
}

.sec1 .anniversary_logo {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 10%;
  max-width: 200px;
}
@media (768px<width<1200px) {
  .sec1 .web {
    padding-top: 15%;
  }
  .sec1 .anniversary_logo {
    top: 40px;
    right: 80px;
  }
}
.sec11 {
  width: 100%;
  position: relative;
  background: linear-gradient(205deg, #063152 0%, #0f73b6 60%, #00a3ff 100%);
  padding-top: 10vh;
}
.sec11 .web .text_box {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.sec11 .web {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  padding: 80px;
  padding-bottom: 0;
}

.sec11 .web .anniversary_logo {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 10%;
  max-width: 200px;
}
@media (768px<width<1200px) {
  .sec11 .web {
    padding-top: 5vh;
  }
  .sec11 .web .anniversary_logo {
    top: 40px;
    right: 80px;
  }
}

.sec2 .web {
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.sec2 .card {
  width: 100%;
  padding: 10%;
}

.sec2 img {
  width: 100%;
}

.sec2 .textbox {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.sec3 {
  overflow-x: auto;
}
.sec3 div {
  /* height: 100vh; */
  width: 100%;
  min-width: 1200px;
  position: relative;
}
.sec3 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec3 div .text_img {
  position: absolute;
  top: 0;
  left: 0;
}

.sec4 .web {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}

.sec4 .web .left_box {
  width: 45%;
  padding: 10vh 0;
}

.sec4 .web .left_box img {
  height: 100%;
  object-fit: cover;
}

.sec4 .web .right_box {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec4 .web .right_box .text_box {
  padding: 10vh 3vw;
}

.sec4 .web .right_bot {
  padding: 3vw;
  padding-right: 20%;
  background-color: #ebf3fb;
  position: relative;
}

.sec4 .web .right_bot .vision-h {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 10px 0;
}

.sec5 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.sec5 .top_box {
  display: grid;
  grid-template-columns: 45% 55%;
}

.sec5 .top_left_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec5 .top_left_box .text_img {
  max-width: 250px;
  width: 30%;
}

.sec5 .top_left_box .map_img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec5 .top_left_box .map_img img {
  max-width: 550px;
  width: 60%;
}

.sec5 .bot_box {
  display: grid;
  grid-template-columns: 45% 55%;
}

.sec5 .bot_box .text_box {
  width: 80%;
  max-width: 800px;
  padding: 40px 0;
}

.sec6 .web {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}

.sec6 .web .left_box {
  width: 55%;
  aspect-ratio: 581/542;
}

.sec6 .web .left_box img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sec6 .web .right_box {
  width: 45%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ebf3fb;
}

.sec6 .web .right_box .text_box {
  width: 80%;
  max-width: 350px;
}

.sec6 .web .amenities {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 70%;
  max-width: 500px;
}

.sec7 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  /* max-height: 100vh; */
}
.sec7 .left_box {
  width: 55%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
}
.sec7 .left_box .decorate {
  height: 50px;
  background-color: #ebf3fb;
  width: 100%;
}
.sec7 .left_box .text_box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.sec7 .right_box {
  width: 45%;
  margin: 50px 0;
  aspect-ratio: 190/221;
}

/* .sec7 .right_box img {
  height: 100%;
  object-fit: cover;
} */

.sec8 .web {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10vh 0;
  padding-right: 5%;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 75%,
    #ebf3fb 75%,
    #ebf3fb 100%
  );
}

.sec8 .web .left_text_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3%;
}
.sec8 .web .left_text_box > div {
  width: 80%;
  max-width: 350px;
  margin: 0 auto;
}
.sec8 .web .left_text_box .solgan {
  width: 25%;
  padding-bottom: 20px;
  /* max-width: 0px; */
  margin: 0 auto;
}
.sec8 .web .left_img_box,
.sec8 .web .right_box {
  aspect-ratio: 19/27;
}

.sec9 .web {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
}

.sec9 .web .left_box {
  width: 55%;
  aspect-ratio: 1162/1081;
}

.sec9 .web .left_box img {
  /* object-fit: cover; */
  /* height: 100%; */
  width: 100%;
}

.sec9 .web .right_box {
  width: 45%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  background-color: #ebf3fb;
}

.sec9 .web .right_box .text_box {
  width: 80%;
  max-width: 400px;
  margin-bottom: 20%;
}

.sec9 .web .logo {
  width: 30%;
  max-width: 200px;
}

.sec12 .web {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  grid-template-columns: 3fr 8fr;
}
.sec12 .web .left_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec12 .web .left_box img:first-child {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}
.sec12 .web .left_box img:nth-child(2) {
  width: 50%;
  max-width: 30px;
  margin: 0 auto;
}
.sec12 .web .form-box {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  color: #0a1a52; /* 深藍字 */
}

.sec12 .web .form-row {
  border: 1px solid #dfe5f0;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  gap: 10px;
}
.sec12 .web .form-row:last-child {
  flex-direction: column;
}
.sec12 .web .label-text {
  display: block;
  font-size: 17px;
  font-weight: 600;
  white-space: nowrap;
}

.sec12 .web .form-row input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
}

.radio-group label {
  align-items: center;
  margin-right: 12px;
  font-size: 17px;
}

.radio-group input {
  margin-right: 4px;
  transform: scale(1.1);
}
