* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --title-font: "WangHanMing";
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  text-align: justify;
}

h4,
h5,
h6,
span,
a {
  letter-spacing: 1px;
  text-align: justify;
}

p {
  text-align: justify;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
}

img {
  display: block;
}

.w-100 {
  width: 100%;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.p-4 {
  padding: 40px;
}

.border {
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a;
}

.sec1 {
  width: 100%;
  height: 100dvh;
  position: relative;
  background: linear-gradient(205deg, #063152 0%, #0f73b6 40%, #00a3ff 100%);
  display: flex;
  flex-direction: column;
}

.sec1>div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  padding: 40px;
  padding-bottom: 0;
}

.sec1 .anniversary_logo {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 150px;
}

.sec2 {
  width: 100%;
  max-width: 1920px;
  /* height: 100dvh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sec2 .card {
  width: 100%;
  padding: 10%;
}

.sec2 img {
  width: 100%;
}

.sec2 .textbox {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.sec2 h2 {
  font-size: 40px;
}

.sec3 {
  overflow-x: auto;
}
.sec3 div{
  height: 100vh;
  width: 100%;
  min-width: 1200px;
}
.sec3 div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .sec3 div {
  width: 100%;
  min-width: 1440px;
  position: relative;
  overflow: hidden;
}

.sec3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec3 img:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
} */

.sec4 {
  width: 100%;
  /* max-width: 1920px; */
  margin: 0 auto;
  display: flex;
  aspect-ratio: 16/7;
}

.sec4 .left_box {
  width: 50%;
  padding: 10vh 0;
}

.sec4 .left_box img {
  height: 100%;
  object-fit: cover;
}

.sec4 .right_box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec4 .right_box .text_box {
  padding: 10vh 3vw;
}

.sec4 .right_bot {
  padding: 3vw;
  padding-right: 10vw;
  background-color: #ebf3fb;
  position: relative;
}

.sec4 .right_bot .vision-h {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 10px 0;
}

.sec5 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.sec5 .top_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sec5 .top_left_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec5 .top_left_box .text_img {
  max-width: 250px;
  width: 20%;
}

.sec5 .top_left_box .map_img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec5 .top_left_box .map_img img {
  max-width: 550px;
  width: 60%;
}

.sec5 .bot_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sec5 .bot_box .text_box {
  width: 100%;
  max-width: 800px;
  padding: 40px 0;
  padding-right: 20%;
}

.sec6 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}

.sec6 .left_box {
  width: 55%;
  height: 100vh;
}

.sec6 .left_box img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sec6 .right_box {
  width: 45%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ebf3fb;
}

.sec6 .right_box .text_box {
  width: 100%;
  max-width: 350px;
}

.sec6 .vision {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 500px;
}

.sec7 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}
.sec7 .left_box{
  width: 55%;
}
.sec7 .right_box{
  width: 45%;
}