* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --title-font: "WangHanMing";
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  text-align: justify;
}

h4,
h5,
h6,
p,
span,
a {
  letter-spacing: 1px;
  text-align: justify;
}
.w-100 {
  width: 100%;
}
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mb-2 {
  margin-bottom: 20px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.p-4 {
  padding: 40px;
}

.sec1 {
  width: 100%;
  height: 100dvh;
  position: relative;
  background: linear-gradient(205deg, #063152 0%, #0f73b6 40%, #00a3ff 100%);
  display: flex;
  flex-direction: column;
}
.sec1 > div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  padding: 40px;
  padding-bottom: 0;
}

.sec1 .anniversary_logo {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 150px;
}

.sec2 {
  width: 100%;
  max-width: 1920px;
  /* height: 100dvh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sec2 .card {
  width: 100%;
  padding: 10%;
}
.sec2 img {
  width: 100%;
}
.sec2 .textbox {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.sec2 h2 {
  font-size: 40px;
}

.sec3 {
  overflow-x: auto;
}
.sec3 div {
  width: 100%;

  min-width: 1440px;
  position: relative;
  overflow: hidden;
}
.sec3 img {
  width: 100%;
}
.sec3 img:nth-child(2) {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.sec4 {
  width: 100%;
  /* max-width: 1920px; */
  margin: 0 auto;
  display: flex;
  aspect-ratio: 16/8;
}
.sec4 .left_box {
  width: 40%;
  padding: 5vw 0;
}
.sec4 .right_box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec4 .right_box .text_box {
  padding: 5vw;
}

.sec4 .right_bot {
  padding: 5vw;
  padding-right: 10vw;
  background-color: #ebf3fb;
  position: relative;
}
.sec4 .right_bot .vision-h {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 10px 0;
}

.sec5 .left_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec5 .left_box .text_img {
  width: 50%;
  max-width: 300px;
}

.sec5 .left_box .map_img {
  display: flex;
  justify-content: center;
  align-items: end;
}
.sec5 .left_box .map_img > img {
  width: 100%;
  max-width: 600px;
}
.sec5 .right_box {
  display: flex;
  flex-direction: column;
}
.sec5 .right_box div {
  padding: 40px;
  padding-left: 0;
  width: 100%;
  max-width: 700px;
}
